*{
  margin: 0;
  padding: 0;
}

.contenedor-principal {
  display: flex;
}

.nav {
  border: 1px solid #000;
  width: 25%;
  height: 100vh;
}

.main {
  border: 1px solid  red;
  width:  75%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.main-logo {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align:center;
}

.main-imagen {
  width: 60%;
}

.main-imagen img{
  width: 100%;
}

.main-texto h1,p{
  width: 100%;
}

.main-texto h1{
  font-size: 35px;
}

.main-texto p{
  font-size: 15px;
}