*{
  margin: 0;
  padding: 0;
}

.contenerdor-principal {
  display: flex;
}

.nav {
  border: 1px solid #000;
  width: 25%;
  height: 100vh;
}

.main {
  border: 1px solid  red;
  width:  75%;
  height: 100vh;
}